<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IContatoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3424/ContatoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContatoService"
                contract="SrContato.IContatoService" name="BasicHttpBinding_IContatoService" />
        </client>
    </system.serviceModel>
</configuration>