/* line 3, ../Sass/site.scss */
.block-overlay {
  background: rgba(60, 60, 60, 0.5);
  position: fixed;
  top: -1px;
  left: -1px;
  width: 101%;
  height: 101%;
}

/* line 9, ../Sass/site.scss */
.contato-block-msg {
  width: 100%;
  display: inline-block;
  min-height: 18px;
  margin: 8px 0;
}

/* line 17, ../Sass/site.scss */
.cantato-list,
.contato-item {
  padding: 10px 0;
}

/* line 20, ../Sass/site.scss */
.contato-form {
  padding: 10px;
}

/* line 23, ../Sass/site.scss */
.contato-ok {
  padding: 4px 6px;
}

/* line 26, ../Sass/site.scss */
.contato-item {
  position: relative;
}
/* line 29, ../Sass/site.scss */
.contato-item td {
  color: #666;
}

/* line 34, ../Sass/site.scss */
.contato-form-wrapper {
  position: fixed;
  top: 20px;
  left: 50%;
  width: 50%;
  box-shadow: rgba(255, 255, 255, 0.8) 0 1px 0, inset rgba(0, 0, 0, 0.2) 0 1px 0;
  margin-left: -25%;
}
/* line 40, ../Sass/site.scss */
.contato-form-wrapper .block-overlay {
  background: black;
}
/* line 44, ../Sass/site.scss */
.contato-form-wrapper .contato-form {
  position: relative;
  z-index: 100;
  background: white;
}
